nav{
    background-color: rgb(237, 164, 175);
    text-align: right;
    font-size: 20px;
    background: size 40px; ;
    padding:10px ;
}
nav a{
     text-decoration: none;}

nav a:hover{
   color: rgb(90, 188, 132);}

a{

     font-color:rgb(0, 0, 0);}

 nav a{ margin: 0 20px;}

  #id1{
        text-align:center ;
     font-size:60px ;
        /* font-family:; */
    }
    .class1{
        height: 200px;
        width: 200px;
        border-radius: 50%;
      border: 5px solid rgb(169, 124, 169);
      box-shadow:  0 0 30px gray;
   
    }
.class1{
       display: block;
  margin:auto ;

}
nav a{color: rgb(3, 3, 3);}

.divider1{text-align: center;}
.divider1 span{display:inline-block ;
 height: 2px;
width: 120px;
background-color: rgb(144, 104, 181);
margin: 8px;
}
.divider1 i{ color: red;
height: 30px;}
.name{
    text-align:center;

    
    color: rgb(102, 194, 192);
}
.ptag{
    text-align: center;
    color: rgb(75, 170, 138) ;
}
.article{ text-align: center;}
.class2{display: block;
text-align: center;
 }
.i{ margin-top: 25px;}
.class2{margin-top: 25px;}
.button1{ text-align: center;
 }
 .button1{margin-top: 25px;}
 button{background-color: rgb(118, 8, 197);
color: rgb(226, 228, 228);}